spring:
  application:
    name: Remedy

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
        default_batch_fetch_size: 500

  datasource:
    url: ${POSTGRES_URL}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  data:
    mongodb:
      uri: ${MONGO_DB_URI}
      auto-index-creation: true

    redis:
      url: ${REDIS_URL}

  elasticsearch:
    uris: ${ELASTICSEARCH_URL}
    connection-timeout: 10s
    socket-timeout: 60s

server:
  servlet:
    context-path: /api/v1

jwt:
  access-time: ${JWT_ACCESS_TIME}
  prefix: ${JWT_PREFIX}
  header: ${JWT_HEADER}
  secret-key: ${JWT_SECRET_KEY}

aws:
  s3:
    bucket: ${AWS_S3_BUCKET}
    region: ${AWS_S3_REGION}
    access-key: ${AWS_ACCESS_KEY}
    secret-key: ${AWS_SECRET_KEY}

logging:
  level:
    web: info
